script#content-summary type="text/x-template" 
  div
    template v-for="table in tables" :table="table" :key="table.id"
      div :class="table.class"
        avl-table :title="table.title" :data-source="table.dataSource" :orientation="table.orientation"
        
content-summary v-on:update-animation="updateAnimation"
  
coffee:
  Vue.component('content-summary', {
    template: '#content-summary',
    props: [ ],
    
    data: ()->
      return {
        pulseTime: 2000,
        loadCounter: 0,
        totalReload: 0,
        tabActive: "Résumé",
        tables: [
          { id: "running_jobs", title: "Running", dataUrl: "/avalanche/running_jobs", dataSource: null, class: "avl-bloc" },
          { id: "jobs_to_run", orientation: "vertical", title: "To Run", dataUrl: "/avalanche/jobs_to_run", dataSource: null, class: "avl-bloc-half"  },
          { id: "running_jobs_overview", orientation: "vertical", title: "Running", dataUrl: "/avalanche/running_jobs_overview", dataSource: null, class: "avl-bloc-half"  },
          { id: "runned_jobs", title: "Runned", dataUrl: "/avalanche/runned_jobs", dataSource: null, class: "avl-bloc"  },
        ],
        bufferedTables: {}
      }
    ,
    methods: {
      getData: ()->
        this.tables.forEach((table) =>    
          $.get(table.dataUrl).done((result) =>
            this.loadCounter += 1
            this.bufferedTables[table.id] = result

            if this.loadCounter == this.tables.length
              this.loadCounter = 0
              this.totalReload += 1
              
              for table in this.tables
                table.dataSource = this.bufferedTables[table.id]        
              this.$emit('update-animation')
                            
              setTimeout(() =>
                this.getData()
              this.pulseTime)
          )
        )
    }
    ,
    created: ()->
      this.getData()
  })
      
