script#avl-table type="text/x-template" 
  table.avl-table
    thead
      tr
        th v-for="column in table.columns" :class="column.class"
          | {{ column.title }}
    
    tbody
      template v-for="line in table.lines"
        tr
          td v-for="column in table.columns" :class="line[column.key].class"
            | {{ line[column.key].value }}
 
coffee:
  Vue.component('avl-table', {
    template: '#avl-table',
    props: [ 'dataUrl', 'dataSource' ],
    
    data: ()-> 
      {
        dataTable: { 
          pagination: {},
          columns: [],
          lines: []
        }
      }
    ,
    computed: {
      table: ()->
        if this.dataSource?
          return (this.dataSource)
          
        if this.dataUrl?
          return (this.dataTable)
          
    }
    ,
    methods: {
      getData: ()->
        $.get(this.dataUrl).done((result) =>
          this.dataTable.columns = result.columns
          this.dataTable.lines = result.lines       
        )
    }
    ,
    created: ()->
      if this.dataUrl?
        this.getData()
  })
