
coffee:
  Vue.component('avl-menu-tab', {
    template: '<div :class="avlTabClass">{{ tab }}</div>',
    props: [ 'tab', 'tabActive' ],
    
    computed:
      avlTabClass: ()->
        return { 
          'avl-tab': true,
          'avl-tab-active': this.isActive
        }
      
      isActive: ()->
        return this.tab == this.tabActive
  })

  Vue.component('avl-menu', {
    template: '<div class="avl-tabs"><div style="display: inline-block;">{{{ logo }}}</div><avl-menu-tab v-for="tab in tabs" :tab="tab" :tab-active="tabActive"></avl-menu-tab></div>',
    props: [ 'tabActive', 'logo' ],
    
    data: ()->
      {
        tabs: [ "Résumé", "Planifiés", "En queue", "En cours", "Exécutés", "Crons"]
      }
  })
