coffee:
  Vue.component('avl-menu-tab', {
    template: '<a :href="tab.url"><div :class="avlTabClass">{{ tab.label }}</div></a>',
    props: [ 'tab', 'tabActive' ],
    
    computed:
      avlTabClass: ()->
        return { 
          'avl-tab': true,
          'avl-tab-active': this.isActive
        }
      
      isActive: ()->
        return this.tab.url == this.tabActive
  })

  Vue.component('avl-menu', {
    template: '<div class="avl-tabs"><div style="display: inline-block;"><div v-html="logo"></div></div><avl-menu-tab v-for="tab in tabs" :tab="tab" :tab-active="tabActive"></avl-menu-tab></div>',
    props: [ 'tabActive', 'logo', 'tabs' ],
    
    data: ()->
      {
      }
  })
