== render partial: "avl_button"
== render partial: "avl_table"
== render partial: "menu"

script#content-summary type="text/x-template" 
  avl-menu :tab-active="tabActive" :logo="logo"

  template v-for="table in tables" :table="table" :key="table.id"
    div :class="table.class"
      h3.avl-h3
        | {{ table.title }}
        
      avl-table :data-source="table.dataSource" :orientation="table.orientation"

#avalanche.avl-blocs 
  content-summary
  
coffee:
  Vue.component('content-summary', {
    template: '#content-summary',
    props: [ ],
    
    data: ()->
      return {
        pulsePath: "assets/house_static.svg",
        pulseTime: 3000,
        loadCounter: 0,
        totalReload: 0,
        tabActive: "Résumé",
        tables: [
          { id: "running_jobs", title: "Running", dataUrl: "/avalanche/running_jobs", dataSource: null, class: "avl-bloc" },
          { id: "jobs_to_run", orientation: "vertical", title: "To Run", dataUrl: "/avalanche/jobs_to_run", dataSource: null, class: "avl-bloc-half"  },
          { id: "running_jobs_overview", orientation: "vertical", title: "Running", dataUrl: "/avalanche/running_jobs_overview", dataSource: null, class: "avl-bloc-half"  },
          { id: "runned_jobs", title: "Runned", dataUrl: "/avalanche/runned_jobs", dataSource: null, class: "avl-bloc"  },
          { id: "all_jobs", title: "All", dataUrl: "/avalanche/all_jobs", dataSource: null, class: "avl-bloc" },
        ],
        bufferedTables: {}
      }
    ,
    computed: {
      logo: ()->
        "<img src='#{this.pulsePath}' style='width: 50px; margin-right: 15px; margin-bottom: -19px' />"
    } 
    ,
    methods: {
      pulseAnimation: ()->
        this.pulsePath = "assets/house_dyn.svg"    
        setTimeout(() =>
          this.pulsePath = "assets/house_static.svg"
        500)
    
      getData: ()->        
        this.tables.forEach((table) =>
          $.get(table.dataUrl).done((result) =>
            this.loadCounter += 1
            this.bufferedTables[table.id] = result

            if this.loadCounter == this.tables.length
              this.loadCounter = 0
              this.totalReload += 1
              
              for table in this.tables
                table.dataSource = this.bufferedTables[table.id]        
              this.pulseAnimation()
                            
              setTimeout(() =>
                this.getData()
              this.pulseTime)
          )
        )
    }
    ,
    created: ()->
      this.getData()
  })
  
  window.avalanche = new Vue({
    el: '#avalanche',
    
    data: {
      tabActive: "Résumé"
    }
  })

      
