doctype html

html
  head
    = javascript_include_tag "avalanche/jquery-3.2.1"
    = javascript_include_tag "avalanche/vue-2.5.2"

    = stylesheet_link_tag "avalanche/avalanche"
  
    title
      | Avalanche

  body.avl-body
    == render partial: "avalanche/avalanche/avl_button"
    == render partial: "avalanche/avalanche/avl_table"
    == render partial: "avalanche/avalanche/menu"
    
    #avalanche.avl-blocs
      .avl-tabs
        div style="display: inline-block;"
          img :src='pulsePath' style='width: 50px; margin-right: 15px; margin-bottom: -19px'
      
        - [ \
            { label: "Résumé", action: 'overview', url: "/avalanche/page/overview" } , 
            { label: "Jobs", action: 'jobs', url: "/avalanche/page/jobs" },
            { label: "Queues", action: 'queues', url: "/avalanche/page/queues" },
            { label: "Workers", action: 'workers', url: "/avalanche/page/workers" },
            { label: "Elements", action: 'elements', url: "/avalanche/page/elements" },
            { label: "Mockup", action: 'mockup', url: "/avalanche/page/mockup" },
            { label: "Test", action: 'test', url: "/avalanche/page/test" },
          ].each do |tab|
            a.avl-tab href="#{tab[:url]}" class="#{'avl-tab-active' if tab[:action] == action_name}"          
              == tab[:label]
                      
      == yield

    coffee:
      window.avalanche = new Vue({
        el: '#avalanche',
        
        computed: {
          logo: ()->
            "<img src='#{this.pulsePath}' style='width: 50px; margin-right: 15px; margin-bottom: -19px' />"
        } 
        ,  
        methods: {
          updateAnimation: ()->
            this.pulsePath = "/assets/avalanche/house_dyn.svg"
            
            setTimeout(() =>
              this.pulsePath = "/assets/avalanche/house_static.svg"
            500)
        }
        ,
        data: {
          pulsePath: "/assets/avalanche/house_static.svg",
          tabActive: window.location.pathname,
          tabs: [
            { label: "Résumé", url: "/avalanche/page/overview" } , 
            { label: "Jobs", url: "/avalanche/page/jobs" },
            { label: "Queues", url: "/avalanche/page/queues" },
            { label: "Elements", url: "/avalanche/page/elements" },
            { label: "Mockup", url: "/avalanche/page/mockup" },
            { label: "Test", url: "/avalanche/page/test" },
          ]
        }
        ,
        created: ()->
          this.pulsePath = "/assets/avalanche/house_dyn.svg"
          this.pulsePath = "/assets/avalanche/house_static.svg"        
      })

        
